* {
    margin: 0;
    padding: 0;
}

body {
    hyphens: auto;
}

.hidden {
    display: none;
}

.header-img {
    width: 50px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#refresh {
    cursor: pointer;
}

#webcam img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}