* {
    margin: 0;
    padding: 0;
}

body {
    hyphens: auto;
}

.hidden {
    display: none;
}

.header-img {
    width: 50px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.gpio-error {
    text-decoration: none;
    color: red;
}

#refresh {
    cursor: pointer;
}

#webcam img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.spinner {
    animation: spin-animation 0.5s infinite;
    display: inline-block;
}

@keyframes spin-animation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}