<!DOCTYPE html>
<html lang="de">
<head>
    <title>Hühnis</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/android-launchericon-96-96.png">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="/assets/style.css">
    <script defer type="text/javascript" src="/jquery/jquery.min.js"></script>
    <script defer type="text/javascript" src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script defer type="text/javascript" src="/assets/script.js"></script>
</head>
<body>
    <main>
        <div class="container py-4">
            <header class="mb-4 border-bottom">
                <div class="d-flex align-items-center text-dark text-decoration-none w-100" style="justify-content: space-between;">
                    <div>
                        <img src="/images/apple-touch-icon.png" class="header-img me-3" style="margin-bottom: -5px;">
                        <span class="fs-4">Hühnerstall IT</span>
                    </div>
                    <div class="me-0 pe-2 pb-1">
                        <i class="bi bi-arrow-repeat fs-5" id="refresh"></i>
                    </div>
                </div>
            </header>
            <div id="errorMsg" class="alert alert-danger alert-dismissible fade show hidden" role="alert">
                <b>Fehler:</b><span class="ps-1 message"></span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="row align-items-md-stretch">
                <div class="col-md-6 mb-3">
                    <div class="h-100 p-4 bg-light border rounded-3">
                        <h2>Status</h2>
                        <div class="row">
                            <div class="col-12 mb-2">
                                <i class="bi bi-house-door pe-2"></i>
                                Hühnerklappe:
                                <span class="ps-1" id="flap">
                                    <div class="spinner-border spinner-border-sm" role="status"></div>
                                </span>
                            </div>
                            <div class="col-12 mb-2">
                                <i class="bi bi-door-closed pe-2"></i>
                                Stalltüre:
                                <span class="ps-1" id="door">
                                    <div class="spinner-border spinner-border-sm" role="status"></div>
                                </span>
                            </div>
                            <div class="col-12 mb-2">
                                <i class="bi bi-thermometer-sun pe-2"></i>
                                Temperatur:
                                <span class="px-1" id="temperature">
                                    <div class="spinner-border spinner-border-sm" role="status"></div>
                                </span>
                            </div>
                            <div class="col-12">
                                <i class="bi bi-moisture pe-2"></i>
                                Luftfeuchtigkeit:
                                <span class="ps-1" id="humidity">
                                    <div class="spinner-border spinner-border-sm" role="status"></div>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="h-100 p-4 bg-light border rounded-3">
                        <h2>Webcam</h2>
                        <div id="webcam">
                            <div class="spinner-border spinner-border-sm" role="status"></div>
                        </div>
                        <div class="alert alert-danger hidden"></div>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="h-100 p-4 bg-light border rounded-3">
                        <h2>Steuerung</h2>
                        <div class="mt-2">
                            <p id="flapStatusInfo">
                                <span class="spinner-border spinner-border-sm" role="status"></span>
                            </p>
                            <div>
                                <button class="btn btn-sm btn-outline-primary hidden" id="flapControlBtn"></button>
                                <i class="bi bi-exclamation-triangle-fill ms-2 hidden" id="flapManualModeAlert" onclick="alert('Manuelle Steuerung nötig!')"></i>
                                <div class="alert alert-warning mt-4 text-break hidden">
                                    <b>Hinweis:</b> bei manuellem Betrieb der Hühnerklappe ist immer ein voll&shy;ständiger Turnus durchzuführen!
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--
                <div class="col-md-6 mb-3">
                    <div class="h-100 p-4 bg-light border rounded-3">
                        <h2 class="p-0 m-0" data-bs-toggle="collapse" href="#collpase2">Konfiguration</h2>
                        <div class="collapse multi-collapse mt-2" id="collpase2">
                            <textarea rows="7" class="form-control w-100" id="configData" readonly>Daten werden geladen...</textarea>
                        </div>
                    </div>
                </div>
                -->
            </div>
        </div>
    </main>
</body>
</html>